@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin:0;
    font-family: 'Poppins', 'sans-serif';
    text-align: center;
}

h1 {
    font-size: 40px;
    /* color: red; */
}

.logo {
    width: 200px;
}

.button {
    background-color:rgb(31, 114, 197);
    color:white;
    border-radius: 15px;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 2px 5px 10px lightgray;
}

.button:hover {
    background-color: dodgerblue;
    color:white;
}

.bi-film {
    font-size:30px;
    margin-right: 10px;
}

ul {
    margin-top: 8px;
}